<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/site.css" rel="stylesheet" />
</head>
<body>
    <section class="module">
        <div class="grid-container grid_940">
            <h2 class="module-header">May 18: New Releases </h2>
            <div class="row">
                <div class="row-item span3">
                    <div class="row-item-image">
                        <a href="#/comic/55827" class="row-item-image-url">
                            <div class="row-item-image-border"></div>
                            <img src="http://i.annihil.us/u/prod/marvel/i/mg/e/c0/5743747e68919/portrait_incredible.jpg" alt="Contest of Champions (2015) #9" title="Contest of Champions (2015) #9">
                        </a>
                    </div>
                    <div class="row-item-text">
                        <h5>
                            <a class="meta-title ng-binding" href="#/comic/57785">
                                HYPERION (2016) #3
                            </a>
                        </h5>
                        <!-- ngRepeat: creator in comic.creators.items --><p class="meta-creators ng-scope" ng-repeat="creator in comic.creators.items">
                            <a class="ng-binding" href="">Katie Kubert</a>
                        </p><!-- end ngRepeat: creator in comic.creators.items --><p class="meta-creators ng-scope" ng-repeat="creator in comic.creators.items">
                            <a class="ng-binding" href="">EMANUELA LUPACCHINO</a>
                        </p><!-- end ngRepeat: creator in comic.creators.items --><p class="meta-creators ng-scope" ng-repeat="creator in comic.creators.items">
                            <a class="ng-binding" href="">Nicole Virella</a>
                        </p><!-- end ngRepeat: creator in comic.creators.items --><p class="meta-creators ng-scope" ng-repeat="creator in comic.creators.items">
                            <a class="ng-binding" href="">Chuck Wendig</a>
                        </p><!-- end ngRepeat: creator in comic.creators.items -->
                    </div>
                </div>
                <div class="row-item  span3">
                    <div class="row-item-image">
                        <a href="#/comic/55827" class="row-item-image-url">
                            <div class="row-item-image-border"></div>
                            <img src="http://i.annihil.us/u/prod/marvel/i/mg/e/c0/5743747e68919/portrait_incredible.jpg" alt="Contest of Champions (2015) #9" title="Contest of Champions (2015) #9">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>
