<div>
    <script type="text/javascript">
        // <![CDATA[
        var URLs = {
            'sitenames': {
                marvel: 'marvel.com'
            }
        };
        // ]]>
    </script>

    <link rel="stylesheet" type="text/css" media="all" href="http://i.annihil.us/u/prod/marvel/s/css/b5803a5172c70418c3f16964e9d2236e.css" />
    <link rel="stylesheet" type="text/css" media="all" href="http://i.annihil.us/u/prod/marvel/s/css/a3c4b79af080e416c2b74f9f763791b5.css" />
    <script type="text/javascript" src="http://i.annihil.us/u/prod/marvel/s/js/d3223c949ff71f0d82eb87ce2384b1e4.js"></script>
    <script type="text/javascript" src="http://i.annihil.us/u/prod/marvel/s/js/a0c636fc0457f8f5b31b6defaffde3f0.js"></script>

    <div id="comics-issuedetail" class="comics responsive grid_940">

        <section class="module module-detail module-issue-detail moduColor_Black JCFeatured textured-full">

            <div class="detail-top-bar-wrap  detail-top-bar-relative" id="" style="">
                <div class="detail-top-bar">
                    <div class="site-container">

                        <a class="detail-top-bar-back detail-top-bar-lft" href="/comics/series/21442/spider-women_omega_2016_-_present"><i class="icon-backto"></i><span>Back to Series</span></a>
                        <div class="detail-social detail-top-bar-rgt">
                            <div class="iconSocial" data-janrain-sharebtn="facebook"><i class="icon-share"></i><span>Share</span></div>
                            <div class="fb-like-container">
                                <div class="fb-like" data-href="http://marvel.com/comics/issue/58832/spider-women_omega_2016_1" data-width="100" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
                            </div>
                        </div>

                        <div class="detail-top-bar-nav">
                        </div>
                    </div>
                </div>
            </div>

            <div class="detail-item-bg-wrap" ng-repeat="comic in comics">
                <div class="detail-item-bg">
                    <img src="{{comic.thumbnail.path}}/background.jpg" width="633" height="537" alt="Spider-Women Event Omega (2016) #1" title="Spider-Women Event Omega (2016) #1" />

                </div>
            </div>

            <div class="grid-container _forceRgtMar">
                <h3 class="module-header sub-header _mediaToSm-block">Spider-Women Omega (2016) #1</h3>

                <div class="featured-item-info-wrap FlexGrid" ng-repeat="comic in comics">
                    <div class="featured-item-info FlexGrid-row">
                        <div class="row-item comic-item FlexGrid-cell FlexGrid-reflowNever">
                            <div class="row-item-image">
                                <a href="javascript:return false" class="row-item-image-url" data-dpop-image-detail="{{comic.thumbnail.path}}/detail.jpg">

                                    <div class="row-item-image-border"></div>

                                    <img class="frame-img" alt="Spider-Women Omega (2016) #1" title="Spider-Women Omega (2016) #1" src="{{comic.thumbnail.path}}/portrait_incredible.jpg" width="216" height="324" />


                                </a>
                            </div>
                            <div class="row-item-text" style="padding-bottom: 15px;">
                            </div>
                        </div>

                        <div class="featured-item-text FlexGrid-cell FlexGrid-reflowNever" ng-repeat="comic in comics">
                            <div>
                                <h1 class="featured-item-title  _mediaOvSm-block">{{comic.title}} </h1>
                            </div>

                            <div class="featured-item-meta" ng-repeat="creator in comic.creators">
                                <strong>Editornnn:</strong>
                                <div ng-repeat="editor in comic.creators.editors">
                                    <a href="/comics/creators/12696/nico_leon">{{creator.name}}</a> <br />
                                </div>
                                <strong>Published:</strong> May 25, 2016<br />
                                <strong>Writer:</strong> <a href="/comics/creators/11306/jason_latour">{{creator.name}}</a>, <a href="/comics/creators/11901/dennis_hopeless">{{creator.name}}</a>, <a href="/comics/creators/12444/robbie_thompson">{{creator.name}}</a> <br />
                                <strong>Penciller:</strong> <a href="/comics/creators/12696/nico_leon">{{creator.name}}</a> <br />
                                <strong>Cover Artist:</strong> <a href="/comics/creators/12698/yasmine_putri">{{creator.name}}</a> <br />
                            </div>



                            <div class="featured-item-desc _mediaOvLg-block">
                                <p data-blurb="588322">
                                    THE TITANTIC CONCLUSION TO THE SPIDER-EVENT OF 2016! Silk is out of commission and Spider-Woman and Spider-Gwen return to Earth-65 for an impossible final battle. They are out-gunned, out-manned ...
                                    <a data-blurb-trigger="588322" class="lnk-more">more</a>
                                </p>
                                <p data-blurb="588322" style="display: none">
                                    THE TITANTIC CONCLUSION TO THE SPIDER-EVENT OF 2016! Silk is out of commission and Spider-Woman and Spider-Gwen return to Earth-65 for an impossible final battle. They are out-gunned, out-manned, out-numbered and out-planned. But it’s a fight they have to fight. Don’t miss this conclusion that will shake all three Spider-Women to the core!

                                    <a data-blurb-trigger="588322" class="lnk-more">more</a>
                                </p>
                            </div>
                        </div>
                    </div><!-- /featured-item-info -->
                </div><!-- /featured-item-info-wrap -->
            </div><!-- /grid-container -->

        </section>

        <!-- nomdcu no cookie -->
        <script type="text/javascript" src="http://i.annihil.us/u/prod/marvel/s/js/8978efd655a5ecd84257515c5feb8ee0.js"></script>
        <script type="text/javascript" src="http://i.annihil.us/u/prod/marvel/s/js/b3146af9a2c24ff04e4bed7dba8c742a.js"></script>



    </div>
</div>
