<style>
   body {
        background-color: #000;
        color: #fff;
    }

    
</style>

<script src="Scripts/site.js"></script>

<div class="detail-item-bg-wrap">
    <div class="detail-item-bg" ng-repeat="comic in comics">
        <img src="{{comic.thumbnail.path}}/background.jpg" alt="9" title="9" height="537" width="633">
    </div>
</div>

<div class="container">
    <div>
        <a class="back-to-button" href="#/main">
            <i class="icon-backto"></i><span>Back to Pulllist</span>
        </a>
    </div>
    <div class="row" style="clear:left;">
        <div class="col-md-3">
            <div class="comic comic-detail-view ng-scope" ng-repeat="comic in comics">
                <div class="comic-image">
                    <a href="#/comic/58832" class="comic-image-url">
                        <div class="comic-image-border"></div>
                        <img src="{{comic.thumbnail.path}}/portrait_incredible.jpg" alt="Spider-Women Omega (2016) #1" title="Spider-Women Omega (2016) #1">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-9">

            <div class="comic-view-text" ng-repeat="comic in comics">
                <div>
                    <h1 class="">{{comic.title | uppercase}}</h1>
                </div>

                <div style="color: #fff;">
                    <div style="color: #fff;">
                        <div class="featured-item-meta">
                            <strong>Published:</strong> May 25, 2016<br />
                            <strong>Writer:</strong><a href="/comics/creators/11306/jason_latour" ng-repeat="writer in comic.creators.writers"> {{writer.name}}</a>
                            <br />
                            <strong>Penciller:</strong><a href="/comics/creators/11306/jason_latour" ng-repeat="penciller in comic.creators.pencillers"> {{penciller.name}}</a>
                            <br />
                            <strong>Artists:</strong><a href="/comics/creators/11306/jason_latour" ng-repeat="artist in comic.creators.artists"> {{artist.name}}</a>
                            <br />
                            <strong>Editor:</strong><a href="/comics/creators/11306/jason_latour" ng-repeat="editor in comic.creators.editors"> {{editor.name}}</a>
                        </div>

                        <div class="featured-item-desc _mediaOvLg-block">
                            <p id="short-text">
                                {{comic.descriptionShort}}
                                <a id="lnk-more" class="lnk-more" ng-click='toggle()'>more</a>
                            </p>
                            <p id="long-text" style="display: none">
                                {{comic.descriptionLong}}
                                <a id="lnk-less" class="lnk-less" ng-click='toggle()'>less</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
