 <h2 class="module-header">May 18: New Releases </h2>
 <div class="container-fluid">
    <div ng-repeat="rows in chunkedData">
        <div class="row" style="clear:both">
            <div class="comic col-lg-4" ng-repeat="comic in rows">
                <div class="comic-image">
                    <a href="#/comic/{{comic.id}}" class="comic-image-url">
                        <div class="comic-image-border"></div>
                        <img src="{{comic.thumbnail.path}}/portrait_incredible.jpg" alt="{{comic.title}}" title="{{comic.title}}" />
                    </a>
                </div>
                <div class="homepage-comic-text">
                    <h5>
                        <a class="meta-title" href="#/comic/{{comic.id}}">
                            {{comic.title | uppercase}}
                        </a>
                    </h5>
                    <p ng-repeat="creator in comic.creators.items">
                        <a href="">{{creator.name}}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



