        @font-face {
          font-family: "TradeGothic";
          src: url("http://i.annihil.us/u/prod/marvel/s/font/tradegot-webfont.eot");
          src: url("http://i.annihil.us/u/prod/marvel/s/font/tradegot-webfont.eot?#iefix") format("embedded-opentype"), url("http://i.annihil.us/u/prod/marvel/s/font/tradegot-webfont.woff") format("woff"), url("http://i.annihil.us/u/prod/marvel/s/font/tradegot-webfont.ttf") format("truetype"), url("http://i.annihil.us/u/prod/marvel/s/font/tradegot-webfont.svg#RobotoBold") format("svg");
          font-style: normal;
          font-weight: normal; }

        @font-face {
          font-family: "TradeGothicBold";
          src: url("http://i.annihil.us/u/prod/marvel/s/font/tradegotbol-webfont.eot");
          src: url("http://i.annihil.us/u/prod/marvel/s/font/tradegotbol-webfont.eot?#iefix") format("embedded-opentype"), url("http://i.annihil.us/u/prod/marvel/s/font/tradegotbol-webfont.woff") format("woff"), url("http://i.annihil.us/u/prod/marvel/s/font/tradegotbol-webfont.ttf") format("truetype"), url("http://i.annihil.us/u/prod/marvel/s/font/tradegotbol-webfont.svg#RobotoBold") format("svg");
          font-weight: normal;
          font-style: normal; }

        @font-face {
          font-family: "TradeGothicBoldOblique";
          src: url("http://i.annihil.us/u/prod/marvel/s/font/tradegotbolobl-webfont.eot");
          src: url("http://i.annihil.us/u/prod/marvel/s/font/tradegotbolobl-webfont.eot?#iefix") format("embedded-opentype"), url("http://i.annihil.us/u/prod/marvel/s/font/tradegotbolobl-webfont.woff") format("woff"), url("http://i.annihil.us/u/prod/marvel/s/font/tradegotbolobl-webfont.ttf") format("truetype"), url("http://i.annihil.us/u/prod/marvel/s/font/tradegotbolobl-webfont.svg#RobotoBold") format("svg");
          font-weight: normal;
          font-style: normal; }

        @font-face {
          font-family: "TradeGothicBoldTwo";
          src: url("http://i.annihil.us/u/prod/marvel/s/font/tradegotboltwo-webfont.eot");
          src: url("http://i.annihil.us/u/prod/marvel/s/font/tradegotboltwo-webfont.eot?#iefix") format("embedded-opentype"), url("http://i.annihil.us/u/prod/marvel/s/font/tradegotboltwo-webfont.woff") format("woff"), url("http://i.annihil.us/u/prod/marvel/s/font/tradegotboltwo-webfont.ttf") format("truetype"), url("http://i.annihil.us/u/prod/marvel/s/font/tradegotboltwo-webfont.svg#RobotoBold") format("svg");
          font-weight: normal;
          font-style: normal; }

        @font-face {
          font-family: "TradeGothicBoldCondensed";
          src: url("http://i.annihil.us/u/prod/marvel/s/font/tradegotbolcontwe-webfont.eot");
          src: url("http://i.annihil.us/u/prod/marvel/s/font/tradegotbolcontwe-webfont.eot?#iefix") format("embedded-opentype"), url("http://i.annihil.us/u/prod/marvel/s/font/tradegotbolcontwe-webfont.woff") format("woff"), url("http://i.annihil.us/u/prod/marvel/s/font/tradegotbolcontwe-webfont.ttf") format("truetype"), url("http://i.annihil.us/u/prod/marvel/s/font/tradegotbolcontwe-webfont.svg#RobotoBold") format("svg");
          font-weight: normal;
          font-style: normal; }

        @font-face {
          font-family: "TradeGothicCondensed";
          src: url("http://i.annihil.us/u/prod/marvel/s/font/tradegotconeig-webfont.eot");
          src: url("http://i.annihil.us/u/prod/marvel/s/font/tradegotconeig-webfont.eot?#iefix") format("embedded-opentype"), url("http://i.annihil.us/u/prod/marvel/s/font/tradegotconeig-webfont.woff") format("woff"), url("http://i.annihil.us/u/prod/marvel/s/font/tradegotconeig-webfont.ttf") format("truetype"), url("http://i.annihil.us/u/prod/marvel/s/font/tradegotconeig-webfont.svg#RobotoBold") format("svg");
          font-weight: normal;
          font-style: normal; }

